:root {
	--my-white: #ffffff;
}

@font-face {
	font-family: 'Brother 1816';
	src: local('../fonts/Brother 1816 Medium'), local('../fonts/Brother-1816-Medium'),
		url('../fonts/Brother1816-Medium.woff2') format('woff2'),
		url('../fonts/Brother1816-Medium.woff') format('woff'),
		url('../fonts/Brother1816-Medium.ttf') format('truetype');
}

.container {
	margin-left: 0px;
}

.navbar.navbar-default .navbar-brand {
	background-color: #ff4838;
	color: #ffffff;
}

.navbar-default .navbar-header > a {
	padding-top: 20px;
	padding-bottom: 40px;
	font-family: "Brother 1816", sans-serif;
	font-size: 1.75em;
}

.navbar.navbar-default .navbar-nav {
	margin: 0px -15px;
}

.navbar.navbar-default .navbar-brand:hover,
.navbar.navbar-default .navbar-brand:focus {
	color: #0f1d22;
}

.navbar.navbar-default .navbar-text {
	color: #292929;
}

.navbar.navbar-default .navbar-nav > li > a {
	color: #fff;
	text-align: center;
	background-color: #0f1d22;
	padding: 10px 0 0px 0;
	/*border-bottom: 1px solid #394b51;*/
	transition: all 0.3s cubic-bezier(0.5, 0.5, 0, 1);
}

.navbar.navbar-default .navbar-nav > li > a:after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 10px 0 0 0; 
	border-bottom: 2px solid #394b51;
	animation: navbar-line-disable 0.5s cubic-bezier(0.5, 0.5, 0, 1);
	animation-fill-mode: forwards;
}

.navbar.navbar-default .navbar-nav > li > a:hover::after {
	animation: navbar-line-active 1s cubic-bezier(0.5, 0.5, 0, 1);
	animation-fill-mode: forwards;
}

@keyframes navbar-line-active {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
		border-bottom: 2px solid #ff4838;
	}
}

@keyframes navbar-line-disable {
	0% {
		border-bottom: 2px solid #ff4838;
		width: 100%;
	}
	100% {
		width: 0%;
		border-bottom: 2px solid #394b51;
	}
}

.navbar.navbar-default .navbar-nav > li > a:hover,
.navbar.navbar-default .navbar-nav > li > a:focus {
	color: #394b51;
}

.navbar.navbar-default .navbar-nav > .active > a,
.navbar.navbar-default .navbar-nav > .active > a:hover,
.navbar.navbar-default .navbar-nav > .active > a:focus {
	color: #ffd4d4;
	background-color: #ffffff;
}

.navbar.navbar-default .navbar-nav > .open > a,
.navbar.navbar-default .navbar-nav > .open > a:hover,
.navbar.navbar-default .navbar-nav > .open > a:focus {
	color: #ffd4d4;
	background-color: #0f1d22;
}

.navbar.navbar-default .navbar-toggle {
	border: 0;
	border-radius: 0px;
	color: #ff4838;
	margin: 8px 8px 0px 0px;
	padding: 5px 4px 10px 4px;
}

.navbar.navbar-default .navbar-toggle:hover,
.navbar.navbar-default .navbar-toggle:focus {
	background-color: #ff4838;
	--my-white: #0f1d22;
}

.navbar.navbar-default .navbar-toggle .icon-bar {
	background-color: var(--my-white);
	border: 0;
	border-radius: 0px;
	margin-top: 5px;
	height: 4px;
	width: 35px;
	animation-fill-mode: forwards;
}

.navbar.navbar-default .navbar-toggle .icon-bar.line-1 {
	animation: navbar-toggle-disable-1 0.5s ease;
}

@keyframes navbar-toggle-disable-1 {
	0% {
		transform: translateY(9px) rotate(45deg);
	}
	50% {
		transform: translateY(9px);
	}
	100% {
		transform: none;
	}
}

.navbar.navbar-default .navbar-toggle .icon-bar.line-2 {
	animation: navbar-toggle-disable-2 0.5s ease;
}

@keyframes navbar-toggle-disable-2 {
	0% {
		transform: rotate(45deg);
	}
	50% {
		transform: none;
	}
	100% {
		transform: none;
	}
}

.navbar.navbar-default .navbar-toggle .icon-bar.line-3 {
	animation: navbar-toggle-disable-3 0.5s ease;
}

@keyframes navbar-toggle-disable-3 {
	0% {
		transform: translateY(-9px) rotate(135deg);
	}
	50% {
		transform: translateY(-9px);
	}
	100% {
		transform: none;
	}
}

.navbar.navbar-default .navbar-toggle:active, .navbar-toggle:hover .icon-bar.line-1 {
	animation: navbar-toggle-active-1 0.5s ease;
	animation-fill-mode: forwards;
}

@keyframes navbar-toggle-active-1 {
	50% {
		transform: translateY(9px);
	}
	100% {
		transform: translateY(9px) rotate(45deg);
	}
}

.navbar.navbar-default .navbar-toggle:active .icon-bar.line-2 {
	animation: navbar-toggle-active-2 0.5s ease;
	animation-fill-mode: forwards;
}

@keyframes navbar-toggle-active-2 {
	50% {
		transform: none;
	}
	100% {
		transform: rotate(45deg);
	}
}

.navbar.navbar-default .navbar-toggle:active .icon-bar.line-3 {
	animation: navbar-toggle-active-3 0.5s ease;
	animation-fill-mode: forwards;
}

@keyframes navbar-toggle-active-3 {
	50% {
		transform: translateY(-9px);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}

.navbar.navbar-default {
	background-color: #ff4838;
	color:  #fff;
	border: none;
	border: 0;
	box-shadow: none;
}


.navbar.navbar-default .navbar-collapse,
.navbar.navbar-default .navbar-form {
	border: 0;
	box-shadow: none;
	background-color: #ff4838;
}

.navbar.navbar-default .navbar-link {
	color: #292929;
}

.navbar.navbar-default .navbar-link:hover {
	color: #ffd4d4;
}

.nav.navbar-nav > li {
	font-family: "Brother 1816", sans-serif;
	font-size: 16px;
}

body {
	background-color: #162B32;
	color: #ffffff;
}

.menu-heading, .item {
	font-family: "Brother 1816", sans-serif;
}

.items {
	background-color: #152328;
	border-radius: 0em;
	margin: 2vh 0px;
}

.item-name {
	font-size: 20px;
	background-color: #ff4838;
	margin: 22px 20px;
	padding: 2px 20px 8px;
}

.item-description {
	padding: 0px 20px 20px 30px;
	font-size: 16px;
}